@import 'scss/variables.scss';

.defaultTooltip {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 0.5em;
}

.chloroplethContainer {
  position: relative;
  height: 400px;
  background: transparent;
}

.svgMap {
  display: block;
  background: transparent;

  path {
    pointer-events: all;
    stroke: #01689b;
    stroke-width: 0.5;
  }

  path:hover {
    stroke-width: 1.5;
    stroke: #fff;
  }

  path.selectedPath {
    stroke: black;
    stroke-width: 3;
  }

  path.noData:hover {
    fill: #62a0be;
  }

  path.faded {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
  }

  path.overlay {
    pointer-events: none;
    stroke: #01689b;
    stroke-width: 0.5;
    fill: transparent;
  }

  path.overlay:hover {
    stroke: #01689b;
    stroke-width: 1;
    fill: transparent;
  }
}
